.input__wrapper {
  margin-bottom: 10px;
  // background-color: rebeccapurple;
}

.input {
  font-size: 18px;
  height: 65px;
  border: 1px solid black;
}

.input:hover {
  cursor: pointer;
  background-color: lightgray;
}
